# Ignore all .npz files
*.npz

# Ignore all .npy files
*.npy

# Ignore all .csv files
*.csv

# Ignore all .xlsx files
*.xlsx

# Ignore all .zip files
*.zip

## Ignore all .ds_store files
**/.DS_Store

## Ignore all pycache subfolders
 __pycache__/
 *.pyc